<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Defense session</h3>
        </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div id="date"></div>
                    <div class="form-group">
                        <label for="room" class="col-sm-2 control-label">Room</label>                        
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="room" value="{{Room}}" />                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <div class="text-center">
                <button type="button" class="btn btn-sucess" onclick="addDefenseSession()">Ok</button>            
            </div>
            </div>
    </div>    
</div>