<div class="modal-dialog">
<div class="modal-content"> 
    <div class="modal-body">
        <button type="button" class="close" aria-hidden="true" onclick="hideModal()">×</button>
        <div class="form-horizontal">
            <fieldset>     
            <legend>Password update</legend>   
                <div class="form-group">
                    <label for="password-current" class="col-lg-2 control-label">Current</label>
                    <div class="col-lg-10">
                        <input data-placement="right" data-container="body" data-toggle="popover" type="password" class="form-control" id="password-current">
                    </div>
                </div>
                <p>Please enter your new password. It must be at least 8 characters long.</p>
                <div class="form-group">
                    <label for="password-new" class="col-lg-2 control-label">New</label>
                    <div class="col-lg-10">
                        <input data-placement="right" data-container="body" data-toggle="popover" type="password" class="form-control" id="password-new">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password-confirm" class="col-lg-2 control-label">Confirm</label>
                    <div class="col-lg-10">
                        <input data-placement="right" data-container="body" data-toggle="popover" type="password" class="form-control" id="password-confirm">
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="text-right form-group">
            <button type="button" class="btn btn-default" onclick="hideModal()">Cancel</button>
            <button type="button" class="btn btn-primary" onclick="updatePassword()">Update</button            
        </div>
    </div>    
</div>    
</div>
        