<div class="form-horizontal">
    <div id="profileEditor-password-err"></div>
    <div class="form-group">
        <div class="row">
        <label for="lbl-nbSlots" class="col-sm-1 control-label">Slots</label>
        <div class="col-sm-1">
            <input type="number" class="form-control input-sm" id="lbl-nbSlots" value="{{len sessions}}"/>
        </div>
        <label for="lbl-filter" class="col-sm-1 control-label">Filter</label>
        <div class="col-sm-5">
            <input onchange="filterConventions()" type="text" class="form-control input-sm" id="lbl-filter" value="{{filter}}"/><span id="lbl-filter-infos"></span>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-sm btn-primary" data-toggle="reset-defense-confirmation" title="generate"><span class="glyphicon glyphicon-refresh"></span></button>
            <button class="btn btn-sm  btn-danger" onclick="storeDefenses()" title="save"><span class="glyphicon glyphicon-floppy-disk"></span></button>
            <button class="btn btn-sm btn-info" onclick="showCoarseDefenseForm()" title="coarse view"><span class="fui-eye"></span></button>
            <button class="btn btn-sm btn-info" onclick="showDefensePlanningForm()" title="detailed view"><span class="fui-list"></span></button>
        </div>

        <div class="col-sm-2">
                <button class="btn btn-lg btn-success" onclick="displayDefenses('planning')" title="Download planning"><span class="glyphicon glyphicon-calendar"></span></button>
                <button class="btn btn-lg btn-success" onclick="displayDefenses('program')" title="Download program"><span class="glyphicon glyphicon-bullhorn"></span></button>
        </div>

        </div>
    </div>

    <div id="defenses-form">
        <div class="text-center">Waiting for a template ...</div>
    </div>
</div>