<div class="modal-dialog">
    <div class="modal-content  error-modal">
    <div class="modal-body">
        <h5>Error</h5>
        <p>{{responseText}}</p>
        <button data-dismiss="modal" class="btn btn-block btn-danger">Ok</button>
    </div>
    </div>
</div>