<div class="modal-dialog">
    <div class="modal-content">

<textarea cols="80" rows="{{len this}}" onclick="this.select()" class="raw">
{{#each this}}{{raw user}} {{count}}
{{/each}}
</textarea>
    </div>
</div>