<div class="modal-dialog">
    <div class="modal-content">
<textarea cols="56" rows="{{len this}}" onclick="this.select()" class="raw">
Person                                #students    #juries

{{#each this}}{{rawFullname P}} {{len tutored}}              {{len juries}}
{{/each}}
</textarea>
    </div>
</div>