    <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Academic tutor comments</h4>
                </div>
                <div class="modal-body">{{Comment}}</div>
            </div>
        </div>