    <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Password recovering</h4>
                </div>

                <div class="modal-body">
                    <form action="api/v1/" method="post">
                    <div class="form-horizontal">
                        <div id="profileEditor-err"></div>
                        <div class="form-group">
                            <label for="lbl-firstname" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="lbl-firstname" placeholder="firstname" value="{{this}}"/>
                            </div>
                        </div>
                    </div>

                        <script type="text/javascript"
                                src="http://www.google.com/recaptcha/api/challenge?k=6Lc3GfgSAAAAAL_sJatbvpi4GWTMiguv6s42iC1Y">
                        </script>
                        <noscript>
                            <iframe src="http://www.google.com/recaptcha/api/noscript?k=6Lc3GfgSAAAAAL_sJatbvpi4GWTMiguv6s42iC1Y"
                                    height="300" width="500" frameborder="0"></iframe><br>
                            <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                            </textarea>
                            <input type="hidden" name="recaptcha_response_field"
                                   value="manual_challenge">
                        </noscript>
                    </form>
                </div>
            </div>
        </div>