{{#each this}}
<div class="text-center">{{slot slot}}</div>
<div class="row">
        {{#each schedule}}
        <div class="col-md-3">
            {{majors this}}
                <ul>
            {{#each this}}
                <li>{{fullname Stu.P}}</li>
            {{/each}}
                </ul>
        </div>
        {{/each}}
</div>
{{/each}}
