<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Company Editor</h3>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="lbl-name" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="lbl-name" value="{{Cpy.Name}}"/>
                        </div>
                </div>
                <div class="form-group">
                    <label for="lbl-www" class="col-sm-3 control-label">Website</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="lbl-www" value="{{Cpy.WWW}}"/>
                        </div>
                </div>                
                <div class="form-group">
                    <label for="lbl-title" class="col-sm-3 control-label">Subject title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="lbl-title" value="{{Title}}"/>
                        </div>
                </div>                
                <div class="modal-footer">
                    <div class="text-right form-group">
                        <button type="button" class="btn btn-success" onclick="sendCompany()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    