
    <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Profile Editor</h3>
                </div>

                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="lbl-firstname" class="col-sm-3 control-label">Firstname</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="lbl-firstname" placeholder="firstname" value="{{Firstname}}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lbl-lastname" class="col-sm-3 control-label">Lastname</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="lbl-lastname" placeholder="lastname" value="{{Lastname}}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="lbl-tel" class="col-sm-3 control-label">Telephon</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="lbl-tel" placeholder="telephon" value="{{Tel}}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                                        <div class="text-right form-group">
                            <button type="button" class="btn btn-success" onclick="updateProfile()">Update</button>
                        </div>
                    </div>
            </div>
        </div>