<div class="modal-dialog">
    <div class="modal-content">
<pre onclick="selectText(this)" class="raw">
Tutor                                #students    #juries

{{#each this}}{{rawFullname P}} {{len Internships}}              {{len Juries}}
{{/each}}
</pre>
    </div>
</div>