<div class="modal-dialog">
    <div class="modal-content">
<pre onclick="selectText(this)" class="raw">
Tutor                                #students
{{#each this}}{{rawFullname P}} {{#each Internships}}{{len this}} {{@key}}{{#unless @last}}; {{/unless}}{{/each}}
{{/each}}
</pre>
    </div>
</div>