.container.login {
	margin-top: 7em;
}

.row {
	margin-bottom: 2em; 
}

.well {
	margin-bottom: 0px;
}

.has-error input {
	color: #d9534f;
}

.popover {
	padding: 0px;
	box-shadow: none;
	font-weight: inherit;
}
.popover-content {
	background-color: #d9534f;
	color: #fff;
}

.popover.right>.arrow:after {
	border-right-color: #d9534f;
}

.popover.top>.arrow:after {
	border-top-color: #d9534f;
}

.popover.bottom>.arrow:after {
	border-top-color: #d9534f;
}

.popover.left>.arrow:after {
	border-top-color: #d9534f;
}

#sessionExpired {
	display: none;
}

#sessionExpired:target {
   display: block;
}