.fn {
	text-transform: capitalize;
}

.click {
	cursor: pointer;
}


/* file upload */
.btn-file {
    position: relative;
    overflow: hidden;
}
/*div.bootstrap-filestyle {
	display: inline;
}*/
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.skip {
	opacity: 0.3;
}

.fixed {
	position: fixed;
}

table {
	margin-top: 2em;
}

.waiting {
    margin-top: 2em;
    margin-bottom: 2em;
}

td.defense-planner {
    padding-top: 2px;
    padding-bottom: 0px
}

.defense-planner ul{
    margin-bottom: 0px;
    display: inline;
}

.panel-defense {
  padding-left: 0px;
  padding-right: 0px;
}
.draggable-students li.placeholder {
  position: relative;
  /** More li styles **/
  background-color:red;
}
.draggable-students li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
  background-color:red;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

.defense-list li {
  font-size: 9pt;
}

.student-row {
  margin-bottom: 0em;
}