.container-fluid {
	margin-top: 5em;
}

.row {
	margin-bottom: 3em; 
}
/*.login-icon {		
	padding: 10px;
	width: 96px;
}*/
.login-screen {
padding: 25px;
background-color: #edeff1;
border-radius: 6px;
}

body {
	background: #37BC9B;
}

.alert {
    display: none;    
}
.alert:target {
    display: block;
}	