.box {
	width: 1em;
	height: 1em;
	display: inline-block;
}

body {
	background-color: #FFCE54;
}

.thumbnail {
	background-color: #F6BB42;
}

.pagination {
	margin-bottom: 0px;
	margin-top: 0px;
}
.page-header {
	border-bottom: 1px solid #434A33;	
}

.thumbnail h3 {
	margin-top: 0.5em;	
}

.thumbnail h1 {
	margin-top: 0em;
	margin-bottom: 0.5em;
}

canvas {
	padding: 0em 1em;
}

.clickable {
	cursor: pointer;
}

h1.survey {
	margin-top: 0.5em;
	margin-bottom: 0em;
}
h4 {
	margin-top: 0em;
}