.raw {
    font-size: 12pt;
    font-family: courier;
}

.click {
	cursor: pointer;
}

.bootstrap-filestyle {
	display: inline;
}

.fn {
	text-transform: capitalize;
}

.legend .title {
	font-weight: bold;	
	text-align: right;
}
.legend li {
	display:inline;
	margin-right: 10px;
}

.legend ul {
	display: inline;
	padding-left: 5px;
}
.color {
	width: 12px;
	height: 12px;
	display: inline-block;	
	margin-right: 5px;
	border: solid grey 1px;
}

.alert-text {
	color: #a94442;
	font-weight: bold;
}

li.sortable-placeholder {
	border: 1px dashed #CCC;
	background: none;
}


.defense-panel .panel-heading{
	padding: 5px 10px;
}

.defense-panel .panel-body {
	padding: 5px 10px;
}

.defense-panel .panel-heading .where {
	float: right;
}
.navbar select {
	display: inline-block;
	width: 200px;
}

.day {
	margin-bottom: 1em;
}

.students {
	font-size: 10pt;
}

.summary .panel-body {
	padding: 0px 15px;
}

.summary li {
	margin-left: 1em;
}

.summary h6 {
	margin-bottom: 0.5em;
}