.raw {
    font-size: 12pt;
    font-family: courier;
}

.click {
	cursor: pointer;
}

.bootstrap-filestyle {
	display: inline;
}

.fn {
	text-transform: capitalize;
}

.legend .title {
	font-weight: bold;	
	text-align: right;
}
.legend li {
	display:inline;
	margin-right: 10px;
}

.legend ul {
	display: inline;
	padding-left: 5px;
}
.color {
	width: 12px;
	height: 12px;
	display: inline-block;	
	margin-right: 5px;
}

.alert-text {
	color: #a94442;
	font-weight: bold;
}

.summary .panel-body {
	padding: 0px 15px;
}

.summary li {
	margin-left: 1em;
}

.summary h6 {
	margin-bottom: 0.5em;
}