<h1>Logs</h1>
<div class="form-horizontal">
<div class="form-group" >    
        <div class="col-lg-8">
            <select class="form-control" id="logs" onchange="showLog()">
                {{#each this}}
                    <option id="{{this}}">{{this}}</option> 
                {{/each}}
            </select>                         
        </div>                
</div>
</div>

<div class="row">
<div class="col-lg-11">
    <pre id="log">Select a log</pre>
</div>
<div class="col-lg-1">
<div class="pull-right affix text-left">    
    <div><a class="btn btn-default" href="#top"><i class="glyphicon glyphicon-chevron-up"></i></a></div>
    <div><a class="btn btn-default" href="#bottom"><i class="glyphicon glyphicon-chevron-down"></i></a></div>
</div>
</div>
</div>
