<div class="modal-dialog">
<div class="modal-content"> 
    <div class="modal-body">
        <button type="button" class="close" aria-hidden="true" onclick="hideModal()">×</button>
        <fieldset>
            <legend>New password</legend>        
            <p> Click the 'Reset' button to receive a mail describing the reset procedure.</p>            
        </div>
        <div class="alert text-center alert-success hidden">                
                An email has been send.
        </div>
        <div class="text-center form-group">
            <button type="button" class="btn btn-default" onclick="hideModal()">Cancel</button>
            <button type="button" class="btn btn-primary" onclick="startResetPassword()">Reset</button>
        </div>
        </fieldset>
    </div>    
</div>    
</div>
        