<div class="modal-dialog">
<div class="modal-content"> 
    <div class="modal-body">
        <button type="button" class="close" aria-hidden="true" onclick="hideModal()">×</button>        
        <legend>{{Title}}</legend>
        <pre onclick="selectText(this)" class="raw">{{Cnt}}</pre>       
    </div>
	</div>
</div>
