<div class="row">
<div class="col-md-6" id="dashboard-company">	
	{{> student-dashboard-company this}}		
</div>

<div class="col-md-6" id="student-dashboard-contacts">	
	{{> student-dashboard-contacts this}}
</div>
</div>

<div class="row">
<div class="col-md-6">	
<h3 class="page-header">Reports</h3>
<p class="text-justify">
PDF files, 10 MB max.
<a href="/assets/consignes-rapports.pdf">This document</a> describes the expectations.
The upload may take time. Once completed, download the report to check for errors.
You can re-upload until the deadline. 
</p>
<p class="text-justify">
If you missed the deadline, you have <b>one</b> upload opportunity.
There is a 1 point penalty per day late.
</p>
<table class="table table-hover table-condensed">
<thead>
<tr>
	<td>Kind</td><td>Deadline</td><td>Delivery date</td><td>Grade</td><td></td>
</tr>
</thead>
<tbody>
{{#each Reports}}
{{> student-dashboard-report this}}
{{/each}}
</tbody>
</table>
</div>
<div class="col-md-6" id="dashboard-alumni">
{{> student-dashboard-alumni Convention.Student.Alumni}}
</div>
</div>
