<h3>Watchlist</h3>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-envelope"></i> mail selection <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a onclick="conventionMailing('tbody', 'stu')">students</a></li>
    <li><a onclick="conventionMailing('tbody', 'stu','tut')">students (cc tutors)</a></li>
    <li><a onclick="conventionMailing('tbody', 'sup')">supervisors</a></li>
    <li><a onclick="conventionMailing('tbody', 'tut')">tutors</a></li>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-list"></i> fullnames from selection <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a onclick="showRawFullname('tbody', 'stu')">Students</a></li>
    <li><a onclick="showRawFullname('tbody','sup')">Supervisors</a></li>
    <li><a onclick="showRawFullname('tbody','tut')">Tutors</a></li>
  </ul>
</div>

<table class="table table-hover tablesorter" id="table-conventions" data-partial="watchlist-student">
    <thead>
    <tr>
        <th class="sorter-false" rowspan="2">
        <input type='checkbox' data-toggle='checkbox' class='globalSelect' data-context="table-conventions"/>
        </th>
        <th rowspan="2">Student</th>
        <th rowspan="2">Promotion</th>
        <th rowspan="2">Major</th>
        <th rowspan="2" >Tutor</th>
        <th class="sorter-false text-center" colspan="{{len Org.Reports}}">Reports</th>
        <th class="sorter-false text-center" colspan="{{len Org.Surveys}}">Surveys</th>
        <th class="text-center" rowspan="2" >Def</th>
        <th class="text-center" rowspan="2">Alumni</th>
    </tr>
    <tr>
        {{#each Org.Reports}}
        <th class="text-center"><small>{{this.Kind}}</small></th>
        {{/each}}
        {{#each Org.Surveys}}
        <th class="text-center"><small>{{this.Kind}}</small></th>
        {{/each}}
    </tr>
    </thead>
    <tbody>
    {{#each Internships}}
        {{> watchlist-student this}}
    {{/each}}
    </tbody>
</table>